{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloud Run Admin API",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://run.googleapis.com/"
    }
  ],
  "paths": {
    "/v2/{parent}/jobs": {
      "post": {
        "operationId": "run_projects_locations_jobs_create",
        "description": "Creates a Job.",
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "description": "Required. The location and project in which this Job should be created. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
            "schema": {
              "type": "string",
              "description": "Required. The location and project in which this Job should be created. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
              "pattern": "^projects/[^/]+/locations/[^/]+$"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": false,
            "description": "Optional. The unique identifier for the Job. The name of the job becomes {parent}/jobs/{job_id}. If not provided, the server will generate a unique `job_id`.",
            "schema": {
              "type": "string",
              "description": "Optional. The unique identifier for the Job. The name of the job becomes {parent}/jobs/{job_id}. If not provided, the server will generate a unique `job_id`."
            }
          },
          {
            "name": "validateOnly",
            "in": "query",
            "required": false,
            "description": "Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
            "schema": {
              "type": "boolean",
              "description": "Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudRunV2Job"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningOperation"
                }
              }
            },
            "description": "Creates a Job."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "run_projects_locations_jobs_list",
        "description": "Lists Jobs. Results are sorted by creation time, descending.",
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "description": "Required. The location and project to list resources on. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
            "schema": {
              "type": "string",
              "description": "Required. The location and project to list resources on. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
              "pattern": "^projects/[^/]+/locations/[^/]+$"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum number of Jobs to return in this call.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of Jobs to return in this call."
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A page token received from a previous call to ListJobs. All other parameters must match.",
            "schema": {
              "type": "string",
              "description": "A page token received from a previous call to ListJobs. All other parameters must match."
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "required": false,
            "description": "If true, returns deleted (but unexpired) resources along with active ones.",
            "schema": {
              "type": "boolean",
              "description": "If true, returns deleted (but unexpired) resources along with active ones."
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudRunV2ListJobsResponse"
                }
              }
            },
            "description": "Lists Jobs. Results are sorted by creation time, descending."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{name}": {
      "get": {
        "operationId": "run_projects_locations_jobs_get",
        "description": "Gets information about a Job.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
            "schema": {
              "type": "string",
              "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudRunV2Job"
                }
              }
            },
            "description": "Gets information about a Job."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "run_projects_locations_jobs_patch",
        "description": "Updates a Job.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The fully qualified name of this Job. Format: projects/{project}/locations/{location}/jobs/{job}",
            "schema": {
              "type": "string",
              "description": "The fully qualified name of this Job. Format: projects/{project}/locations/{location}/jobs/{job}",
              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
            }
          },
          {
            "name": "validateOnly",
            "in": "query",
            "required": false,
            "description": "Indicates that the request should be validated and default values populated, without persisting the request or updating any resources.",
            "schema": {
              "type": "boolean",
              "description": "Indicates that the request should be validated and default values populated, without persisting the request or updating any resources."
            }
          },
          {
            "name": "allowMissing",
            "in": "query",
            "required": false,
            "description": "Optional. If set to true, and if the Job does not exist, it will create a new one. Caller must have both create and update permissions for this call if this is set to true.",
            "schema": {
              "type": "boolean",
              "description": "Optional. If set to true, and if the Job does not exist, it will create a new one. Caller must have both create and update permissions for this call if this is set to true."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudRunV2Job"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningOperation"
                }
              }
            },
            "description": "Updates a Job."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "run_projects_locations_jobs_delete",
        "description": "Deletes a Job.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
            "schema": {
              "type": "string",
              "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
            }
          },
          {
            "name": "validateOnly",
            "in": "query",
            "required": false,
            "description": "Indicates that the request should be validated without actually deleting any resources.",
            "schema": {
              "type": "boolean",
              "description": "Indicates that the request should be validated without actually deleting any resources."
            }
          },
          {
            "name": "etag",
            "in": "query",
            "required": false,
            "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
            "schema": {
              "type": "string",
              "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningOperation"
                }
              }
            },
            "description": "Deletes a Job."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{name}:run": {
      "post": {
        "operationId": "run_projects_locations_jobs_run",
        "description": "Triggers creation of a new Execution of this Job.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
            "schema": {
              "type": "string",
              "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudRunV2RunJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningOperation"
                }
              }
            },
            "description": "Triggers creation of a new Execution of this Job."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GoogleCloudRunV2BinaryAuthorization": {
        "type": "object",
        "description": "Settings for Binary Authorization feature.",
        "properties": {
          "useDefault": {
            "type": "boolean",
            "description": "Optional. If True, indicates to use the default project's binary authorization policy. If False, binary authorization will be disabled."
          },
          "policy": {
            "type": "string",
            "description": "Optional. The path to a binary authorization policy. Format: `projects/{project}/platforms/cloudRun/{policy-name}`"
          },
          "breakglassJustification": {
            "type": "string",
            "description": "Optional. If present, indicates to use Breakglass using this justification. If use_default is False, then it must be empty. For more information on breakglass, see https://cloud.google.com/binary-authorization/docs/using-breakglass"
          }
        }
      },
      "GoogleCloudRunV2BuildInfo": {
        "type": "object",
        "description": "Build information of the image.",
        "properties": {
          "functionTarget": {
            "type": "string",
            "description": "Output only. Entry point of the function when the image is a Cloud Run function.",
            "readOnly": true
          },
          "sourceLocation": {
            "type": "string",
            "description": "Output only. Source code location of the image.",
            "readOnly": true
          }
        }
      },
      "GoogleCloudRunV2CloudSqlInstance": {
        "type": "object",
        "description": "Represents a set of Cloud SQL instances. Each one will be available under /cloudsql/[instance]. Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run.",
        "properties": {
          "instances": {
            "type": "array",
            "description": "A list of Cloud SQL instance connection names. Cloud Run uses these to establish connections to the specified Cloud SQL instances. While the SQL instance name itself is unique within a project, the full connection name requires the location for proper routing. Format: `{project}:{location}:{instance}` Example: `my-project:us-central1:my-instance` You can find this value on the instance's **Overview** page in the Google Cloud console or by using the following `gcloud` command: ```sh gcloud sql instances describe INSTANCE_NAME \\ --format='value(connectionName)' ``` Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GoogleCloudRunV2CloudStorageSource": {
        "type": "object",
        "description": "Cloud Storage source.",
        "properties": {
          "bucket": {
            "type": "string",
            "description": "Required. The Cloud Storage bucket name."
          },
          "object": {
            "type": "string",
            "description": "Required. The Cloud Storage object name."
          },
          "generation": {
            "type": "string",
            "format": "int64",
            "description": "Optional. The Cloud Storage object generation."
          }
        }
      },
      "GoogleCloudRunV2Condition": {
        "type": "object",
        "description": "Defines a status condition for a resource.",
        "properties": {
          "type": {
            "type": "string",
            "description": "type is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/main/docs/spec/errors.md#error-conditions-and-reporting Types common to all resources include: * \"Ready\": True when the Resource is ready."
          },
          "state": {
            "type": "string",
            "description": "State of the condition.",
            "enum": [
              "STATE_UNSPECIFIED",
              "CONDITION_PENDING",
              "CONDITION_RECONCILING",
              "CONDITION_FAILED",
              "CONDITION_SUCCEEDED"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human readable message indicating details about the current status."
          },
          "lastTransitionTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Last time the condition transitioned from one status to another."
          },
          "severity": {
            "type": "string",
            "description": "How to interpret failures of this condition, one of Error, Warning, Info",
            "enum": [
              "SEVERITY_UNSPECIFIED",
              "ERROR",
              "WARNING",
              "INFO"
            ]
          },
          "reason": {
            "type": "string",
            "description": "Output only. A common (service-level) reason for this condition.",
            "enum": [
              "COMMON_REASON_UNDEFINED",
              "UNKNOWN",
              "REVISION_FAILED",
              "PROGRESS_DEADLINE_EXCEEDED",
              "CONTAINER_MISSING",
              "CONTAINER_PERMISSION_DENIED",
              "CONTAINER_IMAGE_UNAUTHORIZED",
              "CONTAINER_IMAGE_AUTHORIZATION_CHECK_FAILED",
              "ENCRYPTION_KEY_PERMISSION_DENIED",
              "ENCRYPTION_KEY_CHECK_FAILED",
              "SECRETS_ACCESS_CHECK_FAILED",
              "WAITING_FOR_OPERATION",
              "IMMEDIATE_RETRY",
              "POSTPONED_RETRY",
              "INTERNAL",
              "VPC_NETWORK_NOT_FOUND"
            ],
            "readOnly": true
          },
          "revisionReason": {
            "type": "string",
            "description": "Output only. A reason for the revision condition.",
            "enum": [
              "REVISION_REASON_UNDEFINED",
              "PENDING",
              "RESERVE",
              "RETIRED",
              "RETIRING",
              "RECREATING",
              "HEALTH_CHECK_CONTAINER_ERROR",
              "CUSTOMIZED_PATH_RESPONSE_PENDING",
              "MIN_INSTANCES_NOT_PROVISIONED",
              "ACTIVE_REVISION_LIMIT_REACHED",
              "NO_DEPLOYMENT",
              "HEALTH_CHECK_SKIPPED",
              "MIN_INSTANCES_WARMING"
            ],
            "readOnly": true
          },
          "executionReason": {
            "type": "string",
            "description": "Output only. A reason for the execution condition.",
            "enum": [
              "EXECUTION_REASON_UNDEFINED",
              "JOB_STATUS_SERVICE_POLLING_ERROR",
              "NON_ZERO_EXIT_CODE",
              "CANCELLED",
              "CANCELLING",
              "DELETED",
              "DELAYED_START_PENDING"
            ],
            "readOnly": true
          }
        }
      },
      "GoogleCloudRunV2Container": {
        "type": "object",
        "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments can be supplied by the system to the container at runtime.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the container specified as a DNS_LABEL (RFC 1123)."
          },
          "image": {
            "type": "string",
            "description": "Required. Name of the container image in Dockerhub, Google Artifact Registry, or Google Container Registry. If the host is not provided, Dockerhub is assumed."
          },
          "sourceCode": {
            "$ref": "#/components/schemas/GoogleCloudRunV2SourceCode"
          },
          "command": {
            "type": "array",
            "description": "Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided.",
            "items": {
              "type": "string"
            }
          },
          "args": {
            "type": "array",
            "description": "Arguments to the entrypoint. The docker image's CMD is used if this is not provided.",
            "items": {
              "type": "string"
            }
          },
          "env": {
            "type": "array",
            "description": "List of environment variables to set in the container.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2EnvVar"
            }
          },
          "resources": {
            "$ref": "#/components/schemas/GoogleCloudRunV2ResourceRequirements"
          },
          "ports": {
            "type": "array",
            "description": "List of ports to expose from the container. Only a single port can be specified. The specified ports must be listening on all interfaces (0.0.0.0) within the container to be accessible. If omitted, a port number will be chosen and passed to the container through the PORT environment variable for the container to listen on.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2ContainerPort"
            }
          },
          "volumeMounts": {
            "type": "array",
            "description": "Volume to mount into the container's filesystem.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2VolumeMount"
            }
          },
          "workingDir": {
            "type": "string",
            "description": "Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image."
          },
          "livenessProbe": {
            "$ref": "#/components/schemas/GoogleCloudRunV2Probe"
          },
          "startupProbe": {
            "$ref": "#/components/schemas/GoogleCloudRunV2Probe"
          },
          "readinessProbe": {
            "$ref": "#/components/schemas/GoogleCloudRunV2Probe"
          },
          "dependsOn": {
            "type": "array",
            "description": "Names of the containers that must start before this container.",
            "items": {
              "type": "string"
            }
          },
          "baseImageUri": {
            "type": "string",
            "description": "Base image for this container. Only supported for services. If set, it indicates that the service is enrolled into automatic base image update."
          },
          "buildInfo": {
            "$ref": "#/components/schemas/GoogleCloudRunV2BuildInfo"
          }
        }
      },
      "GoogleCloudRunV2ContainerOverride": {
        "type": "object",
        "description": "Per-container override specification.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the container specified as a DNS_LABEL."
          },
          "args": {
            "type": "array",
            "description": "Optional. Arguments to the entrypoint. Will replace existing args for override.",
            "items": {
              "type": "string"
            }
          },
          "env": {
            "type": "array",
            "description": "List of environment variables to set in the container. Will be merged with existing env for override.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2EnvVar"
            }
          },
          "clearArgs": {
            "type": "boolean",
            "description": "Optional. True if the intention is to clear out existing args list."
          }
        }
      },
      "GoogleCloudRunV2ContainerPort": {
        "type": "object",
        "description": "ContainerPort represents a network port in a single container.",
        "properties": {
          "name": {
            "type": "string",
            "description": "If specified, used to specify which protocol to use. Allowed values are \"http1\" and \"h2c\"."
          },
          "containerPort": {
            "type": "integer",
            "format": "int32",
            "description": "Port number the container listens on. This must be a valid TCP port number, 0 < container_port < 65536."
          }
        }
      },
      "GoogleCloudRunV2EmptyDirVolumeSource": {
        "type": "object",
        "description": "In memory (tmpfs) ephemeral storage. It is ephemeral in the sense that when the sandbox is taken down, the data is destroyed with it (it does not persist across sandbox runs).",
        "properties": {
          "medium": {
            "type": "string",
            "description": "The medium on which the data is stored. Acceptable values today is only MEMORY or none. When none, the default will currently be backed by memory but could change over time. +optional",
            "enum": [
              "MEDIUM_UNSPECIFIED",
              "MEMORY",
              "DISK"
            ]
          },
          "sizeLimit": {
            "type": "string",
            "description": "Limit on the storage usable by this EmptyDir volume. The size limit is also applicable for memory medium. The maximum usage on memory medium EmptyDir would be the minimum value between the SizeLimit specified here and the sum of memory limits of all containers. The default is nil which means that the limit is undefined. More info: https://cloud.google.com/run/docs/configuring/in-memory-volumes#configure-volume. Info in Kubernetes: https://kubernetes.io/docs/concepts/storage/volumes/#emptydir"
          }
        }
      },
      "GoogleCloudRunV2EnvVar": {
        "type": "object",
        "description": "EnvVar represents an environment variable present in a Container.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Required. Name of the environment variable. Must not exceed 32768 characters."
          },
          "value": {
            "type": "string",
            "description": "Literal value of the environment variable. Defaults to \"\", and the maximum length is 32768 bytes. Variable references are not supported in Cloud Run."
          },
          "valueSource": {
            "$ref": "#/components/schemas/GoogleCloudRunV2EnvVarSource"
          }
        }
      },
      "GoogleCloudRunV2EnvVarSource": {
        "type": "object",
        "description": "EnvVarSource represents a source for the value of an EnvVar.",
        "properties": {
          "secretKeyRef": {
            "$ref": "#/components/schemas/GoogleCloudRunV2SecretKeySelector"
          }
        }
      },
      "GoogleCloudRunV2ExecutionReference": {
        "type": "object",
        "description": "Reference to an Execution. Use /Executions.GetExecution with the given name to get full execution including the latest status.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the execution."
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Creation timestamp of the execution."
          },
          "completionTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Creation timestamp of the execution."
          },
          "deleteTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "The deletion time of the execution. It is only populated as a response to a Delete request."
          },
          "completionStatus": {
            "type": "string",
            "description": "Status for the execution completion.",
            "enum": [
              "COMPLETION_STATUS_UNSPECIFIED",
              "EXECUTION_SUCCEEDED",
              "EXECUTION_FAILED",
              "EXECUTION_RUNNING",
              "EXECUTION_PENDING",
              "EXECUTION_CANCELLED"
            ]
          }
        }
      },
      "GoogleCloudRunV2ExecutionTemplate": {
        "type": "object",
        "description": "ExecutionTemplate describes the data an execution should have when created from a template.",
        "properties": {
          "labels": {
            "type": "object",
            "description": "Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 ExecutionTemplate.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "annotations": {
            "type": "object",
            "description": "Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system annotations in v1 now have a corresponding field in v2 ExecutionTemplate. This field follows Kubernetes annotations' namespacing, limits, and rules.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "parallelism": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Specifies the maximum desired number of tasks the execution should run at given time. When the job is run, if this field is 0 or unset, the maximum possible value will be used for that execution. The actual number of tasks running in steady state will be less than this number when there are fewer tasks waiting to be completed remaining, i.e. when the work left to do is less than max parallelism."
          },
          "taskCount": {
            "type": "integer",
            "format": "int32",
            "description": "Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution. Defaults to 1."
          },
          "template": {
            "$ref": "#/components/schemas/GoogleCloudRunV2TaskTemplate"
          },
          "client": {
            "type": "string",
            "description": "Optional. Arbitrary identifier for the API client."
          },
          "clientVersion": {
            "type": "string",
            "description": "Optional. Arbitrary version identifier for the API client."
          }
        }
      },
      "GoogleCloudRunV2GCSVolumeSource": {
        "type": "object",
        "description": "Represents a volume backed by a Cloud Storage bucket using Cloud Storage FUSE.",
        "properties": {
          "bucket": {
            "type": "string",
            "description": "Cloud Storage Bucket name."
          },
          "readOnly": {
            "type": "boolean",
            "description": "If true, the volume will be mounted as read only for all mounts."
          },
          "mountOptions": {
            "type": "array",
            "description": "A list of additional flags to pass to the gcsfuse CLI. Options should be specified without the leading \"--\".",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GoogleCloudRunV2GRPCAction": {
        "type": "object",
        "description": "GRPCAction describes an action involving a GRPC port.",
        "properties": {
          "port": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Port number of the gRPC service. Number must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort."
          },
          "service": {
            "type": "string",
            "description": "Optional. Service is the name of the service to place in the gRPC HealthCheckRequest (see https://github.com/grpc/grpc/blob/master/doc/health-checking.md ). If this is not specified, the default behavior is defined by gRPC."
          }
        }
      },
      "GoogleCloudRunV2HTTPGetAction": {
        "type": "object",
        "description": "HTTPGetAction describes an action based on HTTP Get requests.",
        "properties": {
          "path": {
            "type": "string",
            "description": "Optional. Path to access on the HTTP server. Defaults to '/'."
          },
          "httpHeaders": {
            "type": "array",
            "description": "Optional. Custom headers to set in the request. HTTP allows repeated headers.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2HTTPHeader"
            }
          },
          "port": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Port number to access on the container. Must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort."
          }
        }
      },
      "GoogleCloudRunV2HTTPHeader": {
        "type": "object",
        "description": "HTTPHeader describes a custom header to be used in HTTP probes",
        "properties": {
          "name": {
            "type": "string",
            "description": "Required. The header field name"
          },
          "value": {
            "type": "string",
            "description": "Optional. The header field value"
          }
        }
      },
      "GoogleCloudRunV2InlinedSource": {
        "type": "object",
        "description": "Inlined source.",
        "properties": {
          "sources": {
            "type": "array",
            "description": "Required. Input only. The source code.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2SourceFile"
            }
          }
        }
      },
      "GoogleCloudRunV2Job": {
        "type": "object",
        "description": "Job represents the configuration of a single job, which references a container image that is run to completion.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The fully qualified name of this Job. Format: projects/{project}/locations/{location}/jobs/{job}"
          },
          "uid": {
            "type": "string",
            "description": "Output only. Server assigned unique identifier for the Execution. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
            "readOnly": true
          },
          "generation": {
            "type": "string",
            "format": "int64",
            "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
            "readOnly": true
          },
          "labels": {
            "type": "object",
            "description": "Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 Job.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "annotations": {
            "type": "object",
            "description": "Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected on new resources. All system annotations in v1 now have a corresponding field in v2 Job. This field follows Kubernetes annotations' namespacing, limits, and rules.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The creation time.",
            "readOnly": true
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The last-modified time.",
            "readOnly": true
          },
          "deleteTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The deletion time. It is only populated as a response to a Delete request.",
            "readOnly": true
          },
          "expireTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. For a deleted resource, the time after which it will be permamently deleted.",
            "readOnly": true
          },
          "creator": {
            "type": "string",
            "description": "Output only. Email address of the authenticated creator.",
            "readOnly": true
          },
          "lastModifier": {
            "type": "string",
            "description": "Output only. Email address of the last authenticated modifier.",
            "readOnly": true
          },
          "client": {
            "type": "string",
            "description": "Arbitrary identifier for the API client."
          },
          "clientVersion": {
            "type": "string",
            "description": "Arbitrary version identifier for the API client."
          },
          "launchStage": {
            "type": "string",
            "description": "The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed. Set the launch stage to a preview stage on input to allow use of preview features in that stage. On read (or output), describes whether the resource uses preview features. For example, if ALPHA is provided as input, but only BETA and GA-level features are used, this field will be BETA on output.",
            "enum": [
              "LAUNCH_STAGE_UNSPECIFIED",
              "UNIMPLEMENTED",
              "PRELAUNCH",
              "EARLY_ACCESS",
              "ALPHA",
              "BETA",
              "GA",
              "DEPRECATED"
            ]
          },
          "binaryAuthorization": {
            "$ref": "#/components/schemas/GoogleCloudRunV2BinaryAuthorization"
          },
          "template": {
            "$ref": "#/components/schemas/GoogleCloudRunV2ExecutionTemplate"
          },
          "observedGeneration": {
            "type": "string",
            "format": "int64",
            "description": "Output only. The generation of this Job. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
            "readOnly": true
          },
          "terminalCondition": {
            "$ref": "#/components/schemas/GoogleCloudRunV2Condition"
          },
          "conditions": {
            "type": "array",
            "description": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the Job does not reach its desired state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2Condition"
            }
          },
          "executionCount": {
            "type": "integer",
            "format": "int32",
            "description": "Output only. Number of executions created for this job.",
            "readOnly": true
          },
          "latestCreatedExecution": {
            "$ref": "#/components/schemas/GoogleCloudRunV2ExecutionReference"
          },
          "reconciling": {
            "type": "boolean",
            "description": "Output only. Returns true if the Job is currently being acted upon by the system to bring it into the desired state. When a new Job is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the Job to the desired state. This process is called reconciliation. While reconciliation is in process, `observed_generation` and `latest_succeeded_execution`, will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the state matches the Job, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `observed_generation` and `generation`, `latest_succeeded_execution` and `latest_created_execution`. If reconciliation failed, `observed_generation` and `latest_succeeded_execution` will have the state of the last succeeded execution or empty for newly created Job. Additional information on the failure can be found in `terminal_condition` and `conditions`.",
            "readOnly": true
          },
          "satisfiesPzs": {
            "type": "boolean",
            "description": "Output only. Reserved for future use.",
            "readOnly": true
          },
          "startExecutionToken": {
            "type": "string",
            "description": "A unique string used as a suffix creating a new execution. The Job will become ready when the execution is successfully started. The sum of job name and token length must be fewer than 63 characters."
          },
          "runExecutionToken": {
            "type": "string",
            "description": "A unique string used as a suffix for creating a new execution. The Job will become ready when the execution is successfully completed. The sum of job name and token length must be fewer than 63 characters."
          },
          "etag": {
            "type": "string",
            "description": "Optional. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
          }
        }
      },
      "GoogleCloudRunV2ListJobsResponse": {
        "type": "object",
        "description": "Response message containing a list of Jobs.",
        "properties": {
          "jobs": {
            "type": "array",
            "description": "The resulting list of Jobs.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2Job"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "A token indicating there are more items than page_size. Use it in the next ListJobs request to continue."
          }
        }
      },
      "GoogleCloudRunV2NFSVolumeSource": {
        "type": "object",
        "description": "Represents an NFS mount.",
        "properties": {
          "server": {
            "type": "string",
            "description": "Hostname or IP address of the NFS server"
          },
          "path": {
            "type": "string",
            "description": "Path that is exported by the NFS server."
          },
          "readOnly": {
            "type": "boolean",
            "description": "If true, the volume will be mounted as read only for all mounts."
          }
        }
      },
      "GoogleCloudRunV2NetworkInterface": {
        "type": "object",
        "description": "Direct VPC egress settings.",
        "properties": {
          "network": {
            "type": "string",
            "description": "Optional. The VPC network that the Cloud Run resource will be able to send traffic to. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If network is not specified, it will be looked up from the subnetwork."
          },
          "subnetwork": {
            "type": "string",
            "description": "Optional. The VPC subnetwork that the Cloud Run resource will get IPs from. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If subnetwork is not specified, the subnetwork with the same name with the network will be used."
          },
          "tags": {
            "type": "array",
            "description": "Optional. Network tags applied to this Cloud Run resource.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GoogleCloudRunV2NodeSelector": {
        "type": "object",
        "description": "Hardware constraints configuration.",
        "properties": {
          "accelerator": {
            "type": "string",
            "description": "Required. GPU accelerator type to attach to an instance."
          }
        }
      },
      "GoogleCloudRunV2Overrides": {
        "type": "object",
        "description": "RunJob Overrides that contains Execution fields to be overridden.",
        "properties": {
          "containerOverrides": {
            "type": "array",
            "description": "Per container override specification.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2ContainerOverride"
            }
          },
          "taskCount": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. The desired number of tasks the execution should run. Will replace existing task_count value."
          },
          "timeout": {
            "type": "string",
            "format": "google-duration",
            "description": "Duration in seconds the task may be active before the system will actively try to mark it failed and kill associated containers. Will replace existing timeout_seconds value."
          }
        }
      },
      "GoogleCloudRunV2Probe": {
        "type": "object",
        "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
        "properties": {
          "initialDelaySeconds": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Number of seconds after the container has started before the probe is initiated. Defaults to 0 seconds. Minimum value is 0. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240."
          },
          "timeoutSeconds": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. Maximum value is 3600. Must be smaller than period_seconds."
          },
          "periodSeconds": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. Must be greater or equal than timeout_seconds."
          },
          "failureThreshold": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1."
          },
          "httpGet": {
            "$ref": "#/components/schemas/GoogleCloudRunV2HTTPGetAction"
          },
          "tcpSocket": {
            "$ref": "#/components/schemas/GoogleCloudRunV2TCPSocketAction"
          },
          "grpc": {
            "$ref": "#/components/schemas/GoogleCloudRunV2GRPCAction"
          }
        }
      },
      "GoogleCloudRunV2ResourceRequirements": {
        "type": "object",
        "description": "ResourceRequirements describes the compute resource requirements.",
        "properties": {
          "limits": {
            "type": "object",
            "description": "Only `memory`, `cpu` and `nvidia.com/gpu` keys in the map are supported. Notes: * The only supported values for CPU are '1', '2', '4', and '8'. Setting 4 CPU requires at least 2Gi of memory. For more information, go to https://cloud.google.com/run/docs/configuring/cpu. * For supported 'memory' values and syntax, go to https://cloud.google.com/run/docs/configuring/memory-limits * The only supported 'nvidia.com/gpu' value is '1'.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "cpuIdle": {
            "type": "boolean",
            "description": "Determines whether CPU is only allocated during requests (true by default). However, if ResourceRequirements is set, the caller must explicitly set this field to true to preserve the default behavior."
          },
          "startupCpuBoost": {
            "type": "boolean",
            "description": "Determines whether CPU should be boosted on startup of a new container instance above the requested CPU threshold, this can help reduce cold-start latency."
          }
        }
      },
      "GoogleCloudRunV2RunJobRequest": {
        "type": "object",
        "description": "Request message to create a new Execution of a Job.",
        "properties": {
          "validateOnly": {
            "type": "boolean",
            "description": "Indicates that the request should be validated without actually deleting any resources."
          },
          "etag": {
            "type": "string",
            "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
          },
          "overrides": {
            "$ref": "#/components/schemas/GoogleCloudRunV2Overrides"
          }
        }
      },
      "GoogleCloudRunV2SecretKeySelector": {
        "type": "object",
        "description": "SecretEnvVarSource represents a source for the value of an EnvVar.",
        "properties": {
          "secret": {
            "type": "string",
            "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret_name} if the secret is in the same project. projects/{project}/secrets/{secret_name} if the secret is in a different project."
          },
          "version": {
            "type": "string",
            "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest version, an integer for a specific version, or a version alias."
          }
        }
      },
      "GoogleCloudRunV2SecretVolumeSource": {
        "type": "object",
        "description": "The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secret.",
        "properties": {
          "secret": {
            "type": "string",
            "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret} if the secret is in the same project. projects/{project}/secrets/{secret} if the secret is in a different project."
          },
          "items": {
            "type": "array",
            "description": "If unspecified, the volume will expose a file whose name is the secret, relative to VolumeMount.mount_path + VolumeMount.sub_path. If specified, the key will be used as the version to fetch from Cloud Secret Manager and the path will be the name of the file exposed in the volume. When items are defined, they must specify a path and a version.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2VersionToPath"
            }
          },
          "defaultMode": {
            "type": "integer",
            "format": "int32",
            "description": "Integer representation of mode bits to use on created files by default. Must be a value between 0000 and 0777 (octal), defaulting to 0444. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set. This might be in conflict with other options that affect the file mode, like fsGroup, and as a result, other mode bits could be set."
          }
        }
      },
      "GoogleCloudRunV2SourceCode": {
        "type": "object",
        "description": "Source type for the container.",
        "properties": {
          "cloudStorageSource": {
            "$ref": "#/components/schemas/GoogleCloudRunV2CloudStorageSource"
          },
          "inlinedSource": {
            "$ref": "#/components/schemas/GoogleCloudRunV2InlinedSource"
          }
        }
      },
      "GoogleCloudRunV2SourceFile": {
        "type": "object",
        "description": "Source file.",
        "properties": {
          "filename": {
            "type": "string",
            "description": "Required. Input only. The file name for the source code. e.g., `\"index.js\"` or `\"node_modules/dependency.js\"`. The filename must be less than 255 characters and cannot contain `..`, `./`, `//`, or end with a `/`. Cloud Run will place the files in the container subdirectories, please use relative path to access the file."
          },
          "content": {
            "type": "string",
            "description": "Required. Input only. Represents the exact, literal, and complete source code of the file. Placeholders like `...` or comments such as `# [rest of code]` should NEVER be used as omission. Every character in this field will be built into the final container. Any omission will result in a broken application."
          }
        }
      },
      "GoogleCloudRunV2TCPSocketAction": {
        "type": "object",
        "description": "TCPSocketAction describes an action based on opening a socket",
        "properties": {
          "port": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Port number to access on the container. Must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort."
          }
        }
      },
      "GoogleCloudRunV2TaskTemplate": {
        "type": "object",
        "description": "TaskTemplate describes the data a task should have when created from a template.",
        "properties": {
          "containers": {
            "type": "array",
            "description": "Holds the single container that defines the unit of execution for this task.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2Container"
            }
          },
          "volumes": {
            "type": "array",
            "description": "Optional. A list of Volumes to make available to containers.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2Volume"
            }
          },
          "maxRetries": {
            "type": "integer",
            "format": "int32",
            "description": "Number of retries allowed per Task, before marking this Task failed. Defaults to 3."
          },
          "timeout": {
            "type": "string",
            "format": "google-duration",
            "description": "Optional. Max allowed time duration the Task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout. Defaults to 600 seconds."
          },
          "serviceAccount": {
            "type": "string",
            "description": "Optional. Email address of the IAM service account associated with the Task of a Job. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account."
          },
          "executionEnvironment": {
            "type": "string",
            "description": "Optional. The execution environment being used to host this Task.",
            "enum": [
              "EXECUTION_ENVIRONMENT_UNSPECIFIED",
              "EXECUTION_ENVIRONMENT_GEN1",
              "EXECUTION_ENVIRONMENT_GEN2"
            ]
          },
          "encryptionKey": {
            "type": "string",
            "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek"
          },
          "vpcAccess": {
            "$ref": "#/components/schemas/GoogleCloudRunV2VpcAccess"
          },
          "nodeSelector": {
            "$ref": "#/components/schemas/GoogleCloudRunV2NodeSelector"
          },
          "gpuZonalRedundancyDisabled": {
            "type": "boolean",
            "description": "Optional. True if GPU zonal redundancy is disabled on this task template."
          }
        }
      },
      "GoogleCloudRunV2VersionToPath": {
        "type": "object",
        "description": "VersionToPath maps a specific version of a secret to a relative file to mount to, relative to VolumeMount's mount_path.",
        "properties": {
          "path": {
            "type": "string",
            "description": "Required. The relative path of the secret in the container."
          },
          "version": {
            "type": "string",
            "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest value, or an integer or a secret alias for a specific version."
          },
          "mode": {
            "type": "integer",
            "format": "int32",
            "description": "Integer octal mode bits to use on this file, must be a value between 01 and 0777 (octal). If 0 or not set, the Volume's default mode will be used. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set."
          }
        }
      },
      "GoogleCloudRunV2Volume": {
        "type": "object",
        "description": "Volume represents a named volume in a container.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Required. Volume's name."
          },
          "secret": {
            "$ref": "#/components/schemas/GoogleCloudRunV2SecretVolumeSource"
          },
          "cloudSqlInstance": {
            "$ref": "#/components/schemas/GoogleCloudRunV2CloudSqlInstance"
          },
          "emptyDir": {
            "$ref": "#/components/schemas/GoogleCloudRunV2EmptyDirVolumeSource"
          },
          "nfs": {
            "$ref": "#/components/schemas/GoogleCloudRunV2NFSVolumeSource"
          },
          "gcs": {
            "$ref": "#/components/schemas/GoogleCloudRunV2GCSVolumeSource"
          }
        }
      },
      "GoogleCloudRunV2VolumeMount": {
        "type": "object",
        "description": "VolumeMount describes a mounting of a Volume within a container.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Required. This must match the Name of a Volume."
          },
          "mountPath": {
            "type": "string",
            "description": "Required. Path within the container at which the volume should be mounted. Must not contain ':'. For Cloud SQL volumes, it can be left empty, or must otherwise be `/cloudsql`. All instances defined in the Volume will be available as `/cloudsql/[instance]`. For more information on Cloud SQL volumes, visit https://cloud.google.com/sql/docs/mysql/connect-run"
          },
          "subPath": {
            "type": "string",
            "description": "Optional. Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root). This field is currently rejected in Secret volume mounts."
          }
        }
      },
      "GoogleCloudRunV2VpcAccess": {
        "type": "object",
        "description": "VPC Access settings. For more information on sending traffic to a VPC network, visit https://cloud.google.com/run/docs/configuring/connecting-vpc.",
        "properties": {
          "connector": {
            "type": "string",
            "description": "VPC Access connector name. Format: `projects/{project}/locations/{location}/connectors/{connector}`, where `{project}` can be project id or number. For more information on sending traffic to a VPC network via a connector, visit https://cloud.google.com/run/docs/configuring/vpc-connectors."
          },
          "egress": {
            "type": "string",
            "description": "Optional. Traffic VPC egress settings. If not provided, it defaults to PRIVATE_RANGES_ONLY.",
            "enum": [
              "VPC_EGRESS_UNSPECIFIED",
              "ALL_TRAFFIC",
              "PRIVATE_RANGES_ONLY"
            ]
          },
          "networkInterfaces": {
            "type": "array",
            "description": "Optional. Direct VPC egress settings. Currently only single network interface is supported.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2NetworkInterface"
            }
          }
        }
      },
      "GoogleLongrunningOperation": {
        "type": "object",
        "description": "This resource represents a long-running operation that is the result of a network API call.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          },
          "metadata": {
            "type": "object",
            "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "done": {
            "type": "boolean",
            "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          },
          "error": {
            "$ref": "#/components/schemas/GoogleRpcStatus"
          },
          "response": {
            "type": "object",
            "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "GoogleRpcStatus": {
        "type": "object",
        "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "The status code, which should be an enum value of google.rpc.Code."
          },
          "message": {
            "type": "string",
            "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          },
          "details": {
            "type": "array",
            "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
            "items": {
              "type": "object",
              "additionalProperties": {
                "description": "Properties of the object. Contains field @type with type URL."
              }
            }
          }
        }
      }
    }
  }
}
