{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloud Run Admin API",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://run.googleapis.com/"
    }
  ],
  "paths": {
    "/v2/{name}/operations": {
      "get": {
        "operationId": "run_projects_locations_operations_list",
        "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Required. To query for all of the operations for a project.",
            "schema": {
              "type": "string",
              "description": "Required. To query for all of the operations for a project.",
              "pattern": "^projects/[^/]+/locations/[^/]+$"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Optional. A filter for matching the completed or in-progress operations. The supported formats of *filter* are: To query for only completed operations: done:true To query for only ongoing operations: done:false Must be empty to query for all of the latest operations for the given parent project.",
            "schema": {
              "type": "string",
              "description": "Optional. A filter for matching the completed or in-progress operations. The supported formats of *filter* are: To query for only completed operations: done:true To query for only ongoing operations: done:false Must be empty to query for all of the latest operations for the given parent project."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "The maximum number of records that should be returned. Requested page size cannot exceed 100. If not set or set to less than or equal to 0, the default page size is 100. .",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of records that should be returned. Requested page size cannot exceed 100. If not set or set to less than or equal to 0, the default page size is 100. ."
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "Token identifying which result to start with, which is returned by a previous list call.",
            "schema": {
              "type": "string",
              "description": "Token identifying which result to start with, which is returned by a previous list call."
            }
          },
          {
            "name": "returnPartialSuccess",
            "in": "query",
            "required": false,
            "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "schema": {
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningListOperationsResponse"
                }
              }
            },
            "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{name}": {
      "get": {
        "operationId": "run_projects_locations_services_get",
        "description": "Gets information about a Service.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Required. The full name of the Service. Format: projects/{project}/locations/{location}/services/{service}, where {project} can be project id or number.",
            "schema": {
              "type": "string",
              "description": "Required. The full name of the Service. Format: projects/{project}/locations/{location}/services/{service}, where {project} can be project id or number.",
              "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudRunV2Service"
                }
              }
            },
            "description": "Gets information about a Service."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "run_projects_locations_services_delete",
        "description": "Deletes a Service. This will cause the Service to stop serving traffic and will delete all revisions.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Required. The full name of the Service. Format: projects/{project}/locations/{location}/services/{service}, where {project} can be project id or number.",
            "schema": {
              "type": "string",
              "description": "Required. The full name of the Service. Format: projects/{project}/locations/{location}/services/{service}, where {project} can be project id or number.",
              "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
            }
          },
          {
            "name": "validateOnly",
            "in": "query",
            "required": false,
            "description": "Indicates that the request should be validated without actually deleting any resources.",
            "schema": {
              "type": "boolean",
              "description": "Indicates that the request should be validated without actually deleting any resources."
            }
          },
          {
            "name": "etag",
            "in": "query",
            "required": false,
            "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
            "schema": {
              "type": "string",
              "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningOperation"
                }
              }
            },
            "description": "Deletes a Service. This will cause the Service to stop serving traffic and will delete all revisions."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "run_projects_locations_services_patch",
        "description": "Updates a Service.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Identifier. The fully qualified name of this Service. In CreateServiceRequest, this field is ignored, and instead composed from CreateServiceRequest.parent and CreateServiceRequest.service_id. Format: projects/{project}/locations/{location}/services/{service_id}",
            "schema": {
              "type": "string",
              "description": "Identifier. The fully qualified name of this Service. In CreateServiceRequest, this field is ignored, and instead composed from CreateServiceRequest.parent and CreateServiceRequest.service_id. Format: projects/{project}/locations/{location}/services/{service_id}",
              "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "required": false,
            "description": "Optional. The list of fields to be updated.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. The list of fields to be updated."
            }
          },
          {
            "name": "validateOnly",
            "in": "query",
            "required": false,
            "description": "Indicates that the request should be validated and default values populated, without persisting the request or updating any resources.",
            "schema": {
              "type": "boolean",
              "description": "Indicates that the request should be validated and default values populated, without persisting the request or updating any resources."
            }
          },
          {
            "name": "allowMissing",
            "in": "query",
            "required": false,
            "description": "Optional. If set to true, and if the Service does not exist, it will create a new one. The caller must have 'run.services.create' permissions if this is set to true and the Service does not exist.",
            "schema": {
              "type": "boolean",
              "description": "Optional. If set to true, and if the Service does not exist, it will create a new one. The caller must have 'run.services.create' permissions if this is set to true and the Service does not exist."
            }
          },
          {
            "name": "forceNewRevision",
            "in": "query",
            "required": false,
            "description": "Optional. If set to true, a new revision will be created from the template even if the system doesn't detect any changes from the previously deployed revision. This may be useful for cases where the underlying resources need to be recreated or reinitialized. For example if the image is specified by label, but the underlying image digest has changed) or if the container performs deployment initialization work that needs to be performed again.",
            "schema": {
              "type": "boolean",
              "description": "Optional. If set to true, a new revision will be created from the template even if the system doesn't detect any changes from the previously deployed revision. This may be useful for cases where the underlying resources need to be recreated or reinitialized. For example if the image is specified by label, but the underlying image digest has changed) or if the container performs deployment initialization work that needs to be performed again."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudRunV2Service"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningOperation"
                }
              }
            },
            "description": "Updates a Service."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{name}:wait": {
      "post": {
        "operationId": "run_projects_locations_operations_wait",
        "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The name of the operation resource to wait on.",
            "schema": {
              "type": "string",
              "description": "The name of the operation resource to wait on.",
              "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleLongrunningWaitOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningOperation"
                }
              }
            },
            "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{parent}/services": {
      "post": {
        "operationId": "run_projects_locations_services_create",
        "description": "Creates a new Service in a given project and location.",
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "description": "Required. The location and project in which this service should be created. Format: projects/{project}/locations/{location}, where {project} can be project id or number. Only lowercase characters, digits, and hyphens.",
            "schema": {
              "type": "string",
              "description": "Required. The location and project in which this service should be created. Format: projects/{project}/locations/{location}, where {project} can be project id or number. Only lowercase characters, digits, and hyphens.",
              "pattern": "^projects/[^/]+/locations/[^/]+$"
            }
          },
          {
            "name": "serviceId",
            "in": "query",
            "required": false,
            "description": "Optional. The unique identifier for the Service. It must begin with letter, and cannot end with hyphen; must contain fewer than 50 characters. The name of the service becomes {parent}/services/{service_id}. If not provided, the server will generate a unique `service_id`.",
            "schema": {
              "type": "string",
              "description": "Optional. The unique identifier for the Service. It must begin with letter, and cannot end with hyphen; must contain fewer than 50 characters. The name of the service becomes {parent}/services/{service_id}. If not provided, the server will generate a unique `service_id`."
            }
          },
          {
            "name": "validateOnly",
            "in": "query",
            "required": false,
            "description": "Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
            "schema": {
              "type": "boolean",
              "description": "Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudRunV2Service"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningOperation"
                }
              }
            },
            "description": "Creates a new Service in a given project and location."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "run_projects_locations_services_list",
        "description": "Lists Services. Results are sorted by creation time, descending.",
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "description": "Required. The location and project to list resources on. Location must be a valid Google Cloud region, and cannot be the \"-\" wildcard. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
            "schema": {
              "type": "string",
              "description": "Required. The location and project to list resources on. Location must be a valid Google Cloud region, and cannot be the \"-\" wildcard. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
              "pattern": "^projects/[^/]+/locations/[^/]+$"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum number of Services to return in this call.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of Services to return in this call."
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A page token received from a previous call to ListServices. All other parameters must match.",
            "schema": {
              "type": "string",
              "description": "A page token received from a previous call to ListServices. All other parameters must match."
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "required": false,
            "description": "If true, returns deleted (but unexpired) resources along with active ones.",
            "schema": {
              "type": "boolean",
              "description": "If true, returns deleted (but unexpired) resources along with active ones."
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudRunV2ListServicesResponse"
                }
              }
            },
            "description": "Lists Services. Results are sorted by creation time, descending."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{resource}:getIamPolicy": {
      "get": {
        "operationId": "run_projects_locations_services_getIamPolicy",
        "description": "Gets the IAM Access Control policy currently in effect for the given Cloud Run Service. This result does not include any inherited policies.",
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "schema": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
            }
          },
          {
            "name": "options.requestedPolicyVersion",
            "in": "query",
            "required": false,
            "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleIamV1Policy"
                }
              }
            },
            "description": "Gets the IAM Access Control policy currently in effect for the given Cloud Run Service. This result does not include any inherited policies."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{resource}:setIamPolicy": {
      "post": {
        "operationId": "run_projects_locations_services_setIamPolicy",
        "description": "Sets the IAM Access control policy for the specified Service. Overwrites any existing policy.",
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "schema": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleIamV1SetIamPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleIamV1Policy"
                }
              }
            },
            "description": "Sets the IAM Access control policy for the specified Service. Overwrites any existing policy."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{resource}:testIamPermissions": {
      "post": {
        "operationId": "run_projects_locations_services_testIamPermissions",
        "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call.",
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "schema": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleIamV1TestIamPermissionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleIamV1TestIamPermissionsResponse"
                }
              }
            },
            "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleRpcStatus"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GoogleCloudRunV2BinaryAuthorization": {
        "type": "object",
        "description": "Settings for Binary Authorization feature.",
        "properties": {
          "useDefault": {
            "type": "boolean",
            "description": "Optional. If True, indicates to use the default project's binary authorization policy. If False, binary authorization will be disabled."
          },
          "policy": {
            "type": "string",
            "description": "Optional. The path to a binary authorization policy. Format: `projects/{project}/platforms/cloudRun/{policy-name}`"
          },
          "breakglassJustification": {
            "type": "string",
            "description": "Optional. If present, indicates to use Breakglass using this justification. If use_default is False, then it must be empty. For more information on breakglass, see https://cloud.google.com/binary-authorization/docs/using-breakglass"
          }
        }
      },
      "GoogleCloudRunV2BuildConfig": {
        "type": "object",
        "description": "Describes the Build step of the function that builds a container from the given source.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Output only. The Cloud Build name of the latest successful deployment of the function.",
            "readOnly": true
          },
          "sourceLocation": {
            "type": "string",
            "description": "The Cloud Storage bucket URI where the function source code is located."
          },
          "functionTarget": {
            "type": "string",
            "description": "Optional. The name of the function (as defined in source code) that will be executed. Defaults to the resource name suffix, if not specified. For backward compatibility, if function with given name is not found, then the system will try to use function named \"function\"."
          },
          "imageUri": {
            "type": "string",
            "description": "Optional. Artifact Registry URI to store the built image."
          },
          "baseImage": {
            "type": "string",
            "description": "Optional. The base image used to build the function."
          },
          "enableAutomaticUpdates": {
            "type": "boolean",
            "description": "Optional. Sets whether the function will receive automatic base image updates."
          },
          "workerPool": {
            "type": "string",
            "description": "Optional. Name of the Cloud Build Custom Worker Pool that should be used to build the Cloud Run function. The format of this field is `projects/{project}/locations/{region}/workerPools/{workerPool}` where `{project}` and `{region}` are the project id and region respectively where the worker pool is defined and `{workerPool}` is the short name of the worker pool."
          },
          "environmentVariables": {
            "type": "object",
            "description": "Optional. User-provided build-time environment variables for the function",
            "additionalProperties": {
              "type": "string"
            }
          },
          "serviceAccount": {
            "type": "string",
            "description": "Optional. Service account to be used for building the container. The format of this field is `projects/{projectId}/serviceAccounts/{serviceAccountEmail}`."
          }
        }
      },
      "GoogleCloudRunV2BuildInfo": {
        "type": "object",
        "description": "Build information of the image.",
        "properties": {
          "functionTarget": {
            "type": "string",
            "description": "Output only. Entry point of the function when the image is a Cloud Run function.",
            "readOnly": true
          },
          "sourceLocation": {
            "type": "string",
            "description": "Output only. Source code location of the image.",
            "readOnly": true
          }
        }
      },
      "GoogleCloudRunV2CloudSqlInstance": {
        "type": "object",
        "description": "Represents a set of Cloud SQL instances. Each one will be available under /cloudsql/[instance]. Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run.",
        "properties": {
          "instances": {
            "type": "array",
            "description": "A list of Cloud SQL instance connection names. Cloud Run uses these to establish connections to the specified Cloud SQL instances. While the SQL instance name itself is unique within a project, the full connection name requires the location for proper routing. Format: `{project}:{location}:{instance}` Example: `my-project:us-central1:my-instance` You can find this value on the instance's **Overview** page in the Google Cloud console or by using the following `gcloud` command: ```sh gcloud sql instances describe INSTANCE_NAME \\ --format='value(connectionName)' ``` Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GoogleCloudRunV2CloudStorageSource": {
        "type": "object",
        "description": "Cloud Storage source.",
        "properties": {
          "bucket": {
            "type": "string",
            "description": "Required. The Cloud Storage bucket name."
          },
          "object": {
            "type": "string",
            "description": "Required. The Cloud Storage object name."
          },
          "generation": {
            "type": "string",
            "format": "int64",
            "description": "Optional. The Cloud Storage object generation."
          }
        }
      },
      "GoogleCloudRunV2Condition": {
        "type": "object",
        "description": "Defines a status condition for a resource.",
        "properties": {
          "type": {
            "type": "string",
            "description": "type is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/main/docs/spec/errors.md#error-conditions-and-reporting Types common to all resources include: * \"Ready\": True when the Resource is ready."
          },
          "state": {
            "type": "string",
            "description": "State of the condition.",
            "enum": [
              "STATE_UNSPECIFIED",
              "CONDITION_PENDING",
              "CONDITION_RECONCILING",
              "CONDITION_FAILED",
              "CONDITION_SUCCEEDED"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human readable message indicating details about the current status."
          },
          "lastTransitionTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Last time the condition transitioned from one status to another."
          },
          "severity": {
            "type": "string",
            "description": "How to interpret failures of this condition, one of Error, Warning, Info",
            "enum": ["SEVERITY_UNSPECIFIED", "ERROR", "WARNING", "INFO"]
          },
          "reason": {
            "type": "string",
            "description": "Output only. A common (service-level) reason for this condition.",
            "enum": [
              "COMMON_REASON_UNDEFINED",
              "UNKNOWN",
              "REVISION_FAILED",
              "PROGRESS_DEADLINE_EXCEEDED",
              "CONTAINER_MISSING",
              "CONTAINER_PERMISSION_DENIED",
              "CONTAINER_IMAGE_UNAUTHORIZED",
              "CONTAINER_IMAGE_AUTHORIZATION_CHECK_FAILED",
              "ENCRYPTION_KEY_PERMISSION_DENIED",
              "ENCRYPTION_KEY_CHECK_FAILED",
              "SECRETS_ACCESS_CHECK_FAILED",
              "WAITING_FOR_OPERATION",
              "IMMEDIATE_RETRY",
              "POSTPONED_RETRY",
              "INTERNAL",
              "VPC_NETWORK_NOT_FOUND"
            ],
            "readOnly": true
          },
          "revisionReason": {
            "type": "string",
            "description": "Output only. A reason for the revision condition.",
            "enum": [
              "REVISION_REASON_UNDEFINED",
              "PENDING",
              "RESERVE",
              "RETIRED",
              "RETIRING",
              "RECREATING",
              "HEALTH_CHECK_CONTAINER_ERROR",
              "CUSTOMIZED_PATH_RESPONSE_PENDING",
              "MIN_INSTANCES_NOT_PROVISIONED",
              "ACTIVE_REVISION_LIMIT_REACHED",
              "NO_DEPLOYMENT",
              "HEALTH_CHECK_SKIPPED",
              "MIN_INSTANCES_WARMING"
            ],
            "readOnly": true
          },
          "executionReason": {
            "type": "string",
            "description": "Output only. A reason for the execution condition.",
            "enum": [
              "EXECUTION_REASON_UNDEFINED",
              "JOB_STATUS_SERVICE_POLLING_ERROR",
              "NON_ZERO_EXIT_CODE",
              "CANCELLED",
              "CANCELLING",
              "DELETED",
              "DELAYED_START_PENDING"
            ],
            "readOnly": true
          }
        }
      },
      "GoogleCloudRunV2Container": {
        "type": "object",
        "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments can be supplied by the system to the container at runtime.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the container specified as a DNS_LABEL (RFC 1123)."
          },
          "image": {
            "type": "string",
            "description": "Required. Name of the container image in Dockerhub, Google Artifact Registry, or Google Container Registry. If the host is not provided, Dockerhub is assumed."
          },
          "sourceCode": {
            "$ref": "#/components/schemas/GoogleCloudRunV2SourceCode"
          },
          "command": {
            "type": "array",
            "description": "Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided.",
            "items": {
              "type": "string"
            }
          },
          "args": {
            "type": "array",
            "description": "Arguments to the entrypoint. The docker image's CMD is used if this is not provided.",
            "items": {
              "type": "string"
            }
          },
          "env": {
            "type": "array",
            "description": "List of environment variables to set in the container.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2EnvVar"
            }
          },
          "resources": {
            "$ref": "#/components/schemas/GoogleCloudRunV2ResourceRequirements"
          },
          "ports": {
            "type": "array",
            "description": "List of ports to expose from the container. Only a single port can be specified. The specified ports must be listening on all interfaces (0.0.0.0) within the container to be accessible. If omitted, a port number will be chosen and passed to the container through the PORT environment variable for the container to listen on.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2ContainerPort"
            }
          },
          "volumeMounts": {
            "type": "array",
            "description": "Volume to mount into the container's filesystem.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2VolumeMount"
            }
          },
          "workingDir": {
            "type": "string",
            "description": "Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image."
          },
          "livenessProbe": {
            "$ref": "#/components/schemas/GoogleCloudRunV2Probe"
          },
          "startupProbe": {
            "$ref": "#/components/schemas/GoogleCloudRunV2Probe"
          },
          "readinessProbe": {
            "$ref": "#/components/schemas/GoogleCloudRunV2Probe"
          },
          "dependsOn": {
            "type": "array",
            "description": "Names of the containers that must start before this container.",
            "items": {
              "type": "string"
            }
          },
          "baseImageUri": {
            "type": "string",
            "description": "Base image for this container. Only supported for services. If set, it indicates that the service is enrolled into automatic base image update."
          },
          "buildInfo": {
            "$ref": "#/components/schemas/GoogleCloudRunV2BuildInfo"
          }
        }
      },
      "GoogleCloudRunV2ContainerPort": {
        "type": "object",
        "description": "ContainerPort represents a network port in a single container.",
        "properties": {
          "name": {
            "type": "string",
            "description": "If specified, used to specify which protocol to use. Allowed values are \"http1\" and \"h2c\"."
          },
          "containerPort": {
            "type": "integer",
            "format": "int32",
            "description": "Port number the container listens on. This must be a valid TCP port number, 0 < container_port < 65536."
          }
        }
      },
      "GoogleCloudRunV2EmptyDirVolumeSource": {
        "type": "object",
        "description": "In memory (tmpfs) ephemeral storage. It is ephemeral in the sense that when the sandbox is taken down, the data is destroyed with it (it does not persist across sandbox runs).",
        "properties": {
          "medium": {
            "type": "string",
            "description": "The medium on which the data is stored. Acceptable values today is only MEMORY or none. When none, the default will currently be backed by memory but could change over time. +optional",
            "enum": ["MEDIUM_UNSPECIFIED", "MEMORY", "DISK"]
          },
          "sizeLimit": {
            "type": "string",
            "description": "Limit on the storage usable by this EmptyDir volume. The size limit is also applicable for memory medium. The maximum usage on memory medium EmptyDir would be the minimum value between the SizeLimit specified here and the sum of memory limits of all containers. The default is nil which means that the limit is undefined. More info: https://cloud.google.com/run/docs/configuring/in-memory-volumes#configure-volume. Info in Kubernetes: https://kubernetes.io/docs/concepts/storage/volumes/#emptydir"
          }
        }
      },
      "GoogleCloudRunV2EnvVar": {
        "type": "object",
        "description": "EnvVar represents an environment variable present in a Container.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Required. Name of the environment variable. Must not exceed 32768 characters."
          },
          "value": {
            "type": "string",
            "description": "Literal value of the environment variable. Defaults to \"\", and the maximum length is 32768 bytes. Variable references are not supported in Cloud Run."
          },
          "valueSource": {
            "$ref": "#/components/schemas/GoogleCloudRunV2EnvVarSource"
          }
        }
      },
      "GoogleCloudRunV2EnvVarSource": {
        "type": "object",
        "description": "EnvVarSource represents a source for the value of an EnvVar.",
        "properties": {
          "secretKeyRef": {
            "$ref": "#/components/schemas/GoogleCloudRunV2SecretKeySelector"
          }
        }
      },
      "GoogleCloudRunV2GCSVolumeSource": {
        "type": "object",
        "description": "Represents a volume backed by a Cloud Storage bucket using Cloud Storage FUSE.",
        "properties": {
          "bucket": {
            "type": "string",
            "description": "Cloud Storage Bucket name."
          },
          "readOnly": {
            "type": "boolean",
            "description": "If true, the volume will be mounted as read only for all mounts."
          },
          "mountOptions": {
            "type": "array",
            "description": "A list of additional flags to pass to the gcsfuse CLI. Options should be specified without the leading \"--\".",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GoogleCloudRunV2GRPCAction": {
        "type": "object",
        "description": "GRPCAction describes an action involving a GRPC port.",
        "properties": {
          "port": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Port number of the gRPC service. Number must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort."
          },
          "service": {
            "type": "string",
            "description": "Optional. Service is the name of the service to place in the gRPC HealthCheckRequest (see https://github.com/grpc/grpc/blob/master/doc/health-checking.md ). If this is not specified, the default behavior is defined by gRPC."
          }
        }
      },
      "GoogleCloudRunV2HTTPGetAction": {
        "type": "object",
        "description": "HTTPGetAction describes an action based on HTTP Get requests.",
        "properties": {
          "path": {
            "type": "string",
            "description": "Optional. Path to access on the HTTP server. Defaults to '/'."
          },
          "httpHeaders": {
            "type": "array",
            "description": "Optional. Custom headers to set in the request. HTTP allows repeated headers.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2HTTPHeader"
            }
          },
          "port": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Port number to access on the container. Must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort."
          }
        }
      },
      "GoogleCloudRunV2HTTPHeader": {
        "type": "object",
        "description": "HTTPHeader describes a custom header to be used in HTTP probes",
        "properties": {
          "name": {
            "type": "string",
            "description": "Required. The header field name"
          },
          "value": {
            "type": "string",
            "description": "Optional. The header field value"
          }
        }
      },
      "GoogleCloudRunV2InlinedSource": {
        "type": "object",
        "description": "Inlined source.",
        "properties": {
          "sources": {
            "type": "array",
            "description": "Required. Input only. The source code.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2SourceFile"
            }
          }
        }
      },
      "GoogleCloudRunV2ListServicesResponse": {
        "type": "object",
        "description": "Response message containing a list of Services.",
        "properties": {
          "services": {
            "type": "array",
            "description": "The resulting list of Services.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2Service"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "A token indicating there are more items than page_size. Use it in the next ListServices request to continue."
          },
          "unreachable": {
            "type": "array",
            "description": "Output only. For global requests, returns the list of regions that could not be reached within the deadline.",
            "readOnly": true,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GoogleCloudRunV2MultiRegionSettings": {
        "type": "object",
        "description": "Settings for multi-region deployment.",
        "properties": {
          "regions": {
            "type": "array",
            "description": "Required. List of regions to deploy to, including primary region.",
            "items": {
              "type": "string"
            }
          },
          "multiRegionId": {
            "type": "string",
            "description": "Optional. System-generated unique id for the multi-region Service."
          }
        }
      },
      "GoogleCloudRunV2NFSVolumeSource": {
        "type": "object",
        "description": "Represents an NFS mount.",
        "properties": {
          "server": {
            "type": "string",
            "description": "Hostname or IP address of the NFS server"
          },
          "path": {
            "type": "string",
            "description": "Path that is exported by the NFS server."
          },
          "readOnly": {
            "type": "boolean",
            "description": "If true, the volume will be mounted as read only for all mounts."
          }
        }
      },
      "GoogleCloudRunV2NetworkInterface": {
        "type": "object",
        "description": "Direct VPC egress settings.",
        "properties": {
          "network": {
            "type": "string",
            "description": "Optional. The VPC network that the Cloud Run resource will be able to send traffic to. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If network is not specified, it will be looked up from the subnetwork."
          },
          "subnetwork": {
            "type": "string",
            "description": "Optional. The VPC subnetwork that the Cloud Run resource will get IPs from. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If subnetwork is not specified, the subnetwork with the same name with the network will be used."
          },
          "tags": {
            "type": "array",
            "description": "Optional. Network tags applied to this Cloud Run resource.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GoogleCloudRunV2NodeSelector": {
        "type": "object",
        "description": "Hardware constraints configuration.",
        "properties": {
          "accelerator": {
            "type": "string",
            "description": "Required. GPU accelerator type to attach to an instance."
          }
        }
      },
      "GoogleCloudRunV2Probe": {
        "type": "object",
        "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
        "properties": {
          "initialDelaySeconds": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Number of seconds after the container has started before the probe is initiated. Defaults to 0 seconds. Minimum value is 0. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240."
          },
          "timeoutSeconds": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. Maximum value is 3600. Must be smaller than period_seconds."
          },
          "periodSeconds": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. Must be greater or equal than timeout_seconds."
          },
          "failureThreshold": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1."
          },
          "httpGet": {
            "$ref": "#/components/schemas/GoogleCloudRunV2HTTPGetAction"
          },
          "tcpSocket": {
            "$ref": "#/components/schemas/GoogleCloudRunV2TCPSocketAction"
          },
          "grpc": {
            "$ref": "#/components/schemas/GoogleCloudRunV2GRPCAction"
          }
        }
      },
      "GoogleCloudRunV2ResourceRequirements": {
        "type": "object",
        "description": "ResourceRequirements describes the compute resource requirements.",
        "properties": {
          "limits": {
            "type": "object",
            "description": "Only `memory`, `cpu` and `nvidia.com/gpu` keys in the map are supported. Notes: * The only supported values for CPU are '1', '2', '4', and '8'. Setting 4 CPU requires at least 2Gi of memory. For more information, go to https://cloud.google.com/run/docs/configuring/cpu. * For supported 'memory' values and syntax, go to https://cloud.google.com/run/docs/configuring/memory-limits * The only supported 'nvidia.com/gpu' value is '1'.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "cpuIdle": {
            "type": "boolean",
            "description": "Determines whether CPU is only allocated during requests (true by default). However, if ResourceRequirements is set, the caller must explicitly set this field to true to preserve the default behavior."
          },
          "startupCpuBoost": {
            "type": "boolean",
            "description": "Determines whether CPU should be boosted on startup of a new container instance above the requested CPU threshold, this can help reduce cold-start latency."
          }
        }
      },
      "GoogleCloudRunV2RevisionScaling": {
        "type": "object",
        "description": "Settings for revision-level scaling settings.",
        "properties": {
          "minInstanceCount": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Minimum number of serving instances that this resource should have."
          },
          "maxInstanceCount": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Maximum number of serving instances that this resource should have. When unspecified, the field is set to the server default value of 100. For more information see https://cloud.google.com/run/docs/configuring/max-instances"
          },
          "cpuUtilization": {
            "type": "number",
            "format": "float",
            "description": "Optional. Determines a threshold for CPU utilization before scaling begins. Accepted values are between `0.1` and `0.95` (inclusive) or `0.0` to disable CPU utilization as threshold for scaling. CPU and concurrency scaling cannot both be disabled."
          },
          "concurrencyUtilization": {
            "type": "number",
            "format": "float",
            "description": "Optional. Determines a threshold for concurrency utilization before scaling begins. Accepted values are between `0.1` and `0.95` (inclusive) or `0.0` to disable concurrency utilization as threshold for scaling. CPU and concurrency scaling cannot both be disabled."
          }
        }
      },
      "GoogleCloudRunV2RevisionTemplate": {
        "type": "object",
        "description": "RevisionTemplate describes the data a revision should have when created from a template.",
        "properties": {
          "revision": {
            "type": "string",
            "description": "Optional. The unique name for the revision. If this field is omitted, it will be automatically generated based on the Service name."
          },
          "labels": {
            "type": "object",
            "description": "Optional. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 RevisionTemplate.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "annotations": {
            "type": "object",
            "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system annotations in v1 now have a corresponding field in v2 RevisionTemplate. This field follows Kubernetes annotations' namespacing, limits, and rules.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "scaling": {
            "$ref": "#/components/schemas/GoogleCloudRunV2RevisionScaling"
          },
          "vpcAccess": {
            "$ref": "#/components/schemas/GoogleCloudRunV2VpcAccess"
          },
          "timeout": {
            "type": "string",
            "format": "google-duration",
            "description": "Optional. Max allowed time for an instance to respond to a request."
          },
          "serviceAccount": {
            "type": "string",
            "description": "Optional. Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has. If not provided, the revision will use the project's default service account."
          },
          "containers": {
            "type": "array",
            "description": "Holds the list which define the units of execution for this Revision.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2Container"
            }
          },
          "volumes": {
            "type": "array",
            "description": "Optional. A list of Volumes to make available to containers.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2Volume"
            }
          },
          "executionEnvironment": {
            "type": "string",
            "description": "Optional. The sandbox environment to host this Revision.",
            "enum": [
              "EXECUTION_ENVIRONMENT_UNSPECIFIED",
              "EXECUTION_ENVIRONMENT_GEN1",
              "EXECUTION_ENVIRONMENT_GEN2"
            ]
          },
          "encryptionKey": {
            "type": "string",
            "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek"
          },
          "maxInstanceRequestConcurrency": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Sets the maximum number of requests that each serving instance can receive. If not specified or 0, concurrency defaults to 80 when requested `CPU >= 1` and defaults to 1 when requested `CPU < 1`."
          },
          "serviceMesh": {
            "$ref": "#/components/schemas/GoogleCloudRunV2ServiceMesh"
          },
          "encryptionKeyRevocationAction": {
            "type": "string",
            "description": "Optional. The action to take if the encryption key is revoked.",
            "enum": [
              "ENCRYPTION_KEY_REVOCATION_ACTION_UNSPECIFIED",
              "PREVENT_NEW",
              "SHUTDOWN"
            ]
          },
          "encryptionKeyShutdownDuration": {
            "type": "string",
            "format": "google-duration",
            "description": "Optional. If encryption_key_revocation_action is SHUTDOWN, the duration before shutting down all instances. The minimum increment is 1 hour."
          },
          "sessionAffinity": {
            "type": "boolean",
            "description": "Optional. Enable session affinity."
          },
          "healthCheckDisabled": {
            "type": "boolean",
            "description": "Optional. Disables health checking containers during deployment."
          },
          "nodeSelector": {
            "$ref": "#/components/schemas/GoogleCloudRunV2NodeSelector"
          },
          "gpuZonalRedundancyDisabled": {
            "type": "boolean",
            "description": "Optional. True if GPU zonal redundancy is disabled on this revision."
          },
          "client": {
            "type": "string",
            "description": "Optional. Arbitrary identifier for the API client."
          },
          "clientVersion": {
            "type": "string",
            "description": "Optional. Arbitrary version identifier for the API client."
          }
        }
      },
      "GoogleCloudRunV2SecretKeySelector": {
        "type": "object",
        "description": "SecretEnvVarSource represents a source for the value of an EnvVar.",
        "properties": {
          "secret": {
            "type": "string",
            "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret_name} if the secret is in the same project. projects/{project}/secrets/{secret_name} if the secret is in a different project."
          },
          "version": {
            "type": "string",
            "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest version, an integer for a specific version, or a version alias."
          }
        }
      },
      "GoogleCloudRunV2SecretVolumeSource": {
        "type": "object",
        "description": "The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secret.",
        "properties": {
          "secret": {
            "type": "string",
            "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret} if the secret is in the same project. projects/{project}/secrets/{secret} if the secret is in a different project."
          },
          "items": {
            "type": "array",
            "description": "If unspecified, the volume will expose a file whose name is the secret, relative to VolumeMount.mount_path + VolumeMount.sub_path. If specified, the key will be used as the version to fetch from Cloud Secret Manager and the path will be the name of the file exposed in the volume. When items are defined, they must specify a path and a version.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2VersionToPath"
            }
          },
          "defaultMode": {
            "type": "integer",
            "format": "int32",
            "description": "Integer representation of mode bits to use on created files by default. Must be a value between 0000 and 0777 (octal), defaulting to 0444. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set. This might be in conflict with other options that affect the file mode, like fsGroup, and as a result, other mode bits could be set."
          }
        }
      },
      "GoogleCloudRunV2Service": {
        "type": "object",
        "description": "Service acts as a top-level container that manages a set of configurations and revision templates which implement a network service. Service exists to provide a singular abstraction which can be access controlled, reasoned about, and which encapsulates software lifecycle decisions such as rollout policy and team resource ownership.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Identifier. The fully qualified name of this Service. In CreateServiceRequest, this field is ignored, and instead composed from CreateServiceRequest.parent and CreateServiceRequest.service_id. Format: projects/{project}/locations/{location}/services/{service_id}"
          },
          "description": {
            "type": "string",
            "description": "User-provided description of the Service. This field currently has a 512-character limit."
          },
          "uid": {
            "type": "string",
            "description": "Output only. Server assigned unique identifier for the trigger. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
            "readOnly": true
          },
          "generation": {
            "type": "string",
            "format": "int64",
            "description": "Output only. A number that monotonically increases every time the user modifies the desired state. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`.",
            "readOnly": true
          },
          "labels": {
            "type": "object",
            "description": "Optional. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 Service.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "annotations": {
            "type": "object",
            "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected in new resources. All system annotations in v1 now have a corresponding field in v2 Service. This field follows Kubernetes annotations' namespacing, limits, and rules.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The creation time.",
            "readOnly": true
          },
          "updateTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The last-modified time.",
            "readOnly": true
          },
          "deleteTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The deletion time. It is only populated as a response to a Delete request.",
            "readOnly": true
          },
          "expireTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. For a deleted resource, the time after which it will be permanently deleted.",
            "readOnly": true
          },
          "creator": {
            "type": "string",
            "description": "Output only. Email address of the authenticated creator.",
            "readOnly": true
          },
          "lastModifier": {
            "type": "string",
            "description": "Output only. Email address of the last authenticated modifier.",
            "readOnly": true
          },
          "client": {
            "type": "string",
            "description": "Arbitrary identifier for the API client."
          },
          "clientVersion": {
            "type": "string",
            "description": "Arbitrary version identifier for the API client."
          },
          "ingress": {
            "type": "string",
            "description": "Optional. Provides the ingress settings for this Service. On output, returns the currently observed ingress settings, or INGRESS_TRAFFIC_UNSPECIFIED if no revision is active.",
            "enum": [
              "INGRESS_TRAFFIC_UNSPECIFIED",
              "INGRESS_TRAFFIC_ALL",
              "INGRESS_TRAFFIC_INTERNAL_ONLY",
              "INGRESS_TRAFFIC_INTERNAL_LOAD_BALANCER",
              "INGRESS_TRAFFIC_NONE"
            ]
          },
          "launchStage": {
            "type": "string",
            "description": "Optional. The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed. Set the launch stage to a preview stage on input to allow use of preview features in that stage. On read (or output), describes whether the resource uses preview features. For example, if ALPHA is provided as input, but only BETA and GA-level features are used, this field will be BETA on output.",
            "enum": [
              "LAUNCH_STAGE_UNSPECIFIED",
              "UNIMPLEMENTED",
              "PRELAUNCH",
              "EARLY_ACCESS",
              "ALPHA",
              "BETA",
              "GA",
              "DEPRECATED"
            ]
          },
          "binaryAuthorization": {
            "$ref": "#/components/schemas/GoogleCloudRunV2BinaryAuthorization"
          },
          "template": {
            "$ref": "#/components/schemas/GoogleCloudRunV2RevisionTemplate"
          },
          "traffic": {
            "type": "array",
            "description": "Optional. Specifies how to distribute traffic over a collection of Revisions belonging to the Service. If traffic is empty or not provided, defaults to 100% traffic to the latest `Ready` Revision.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2TrafficTarget"
            }
          },
          "scaling": {
            "$ref": "#/components/schemas/GoogleCloudRunV2ServiceScaling"
          },
          "invokerIamDisabled": {
            "type": "boolean",
            "description": "Optional. Disables IAM permission check for run.routes.invoke for callers of this service. For more information, visit https://cloud.google.com/run/docs/securing/managing-access#invoker_check."
          },
          "defaultUriDisabled": {
            "type": "boolean",
            "description": "Optional. Disables public resolution of the default URI of this service."
          },
          "urls": {
            "type": "array",
            "description": "Output only. All URLs serving traffic for this Service.",
            "readOnly": true,
            "items": {
              "type": "string"
            }
          },
          "iapEnabled": {
            "type": "boolean",
            "description": "Optional. IAP settings on the Service."
          },
          "multiRegionSettings": {
            "$ref": "#/components/schemas/GoogleCloudRunV2MultiRegionSettings"
          },
          "customAudiences": {
            "type": "array",
            "description": "One or more custom audiences that you want this service to support. Specify each custom audience as the full URL in a string. The custom audiences are encoded in the token and used to authenticate requests. For more information, see https://cloud.google.com/run/docs/configuring/custom-audiences.",
            "items": {
              "type": "string"
            }
          },
          "observedGeneration": {
            "type": "string",
            "format": "int64",
            "description": "Output only. The generation of this Service currently serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`.",
            "readOnly": true
          },
          "terminalCondition": {
            "$ref": "#/components/schemas/GoogleCloudRunV2Condition"
          },
          "conditions": {
            "type": "array",
            "description": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the Service does not reach its Serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2Condition"
            }
          },
          "latestReadyRevision": {
            "type": "string",
            "description": "Output only. Name of the latest revision that is serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
            "readOnly": true
          },
          "latestCreatedRevision": {
            "type": "string",
            "description": "Output only. Name of the last created revision. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
            "readOnly": true
          },
          "trafficStatuses": {
            "type": "array",
            "description": "Output only. Detailed status information for corresponding traffic targets. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2TrafficTargetStatus"
            }
          },
          "uri": {
            "type": "string",
            "description": "Output only. The main URI in which this Service is serving traffic.",
            "readOnly": true
          },
          "satisfiesPzs": {
            "type": "boolean",
            "description": "Output only. Reserved for future use.",
            "readOnly": true
          },
          "threatDetectionEnabled": {
            "type": "boolean",
            "description": "Output only. True if Cloud Run Threat Detection monitoring is enabled for the parent project of this Service.",
            "readOnly": true
          },
          "buildConfig": {
            "$ref": "#/components/schemas/GoogleCloudRunV2BuildConfig"
          },
          "reconciling": {
            "type": "boolean",
            "description": "Output only. Returns true if the Service is currently being acted upon by the system to bring it into the desired state. When a new Service is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the Service to the desired serving state. This process is called reconciliation. While reconciliation is in process, `observed_generation`, `latest_ready_revision`, `traffic_statuses`, and `uri` will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the serving state matches the Service, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `traffic` and `traffic_statuses`, `observed_generation` and `generation`, `latest_ready_revision` and `latest_created_revision`. If reconciliation failed, `traffic_statuses`, `observed_generation`, and `latest_ready_revision` will have the state of the last serving revision, or empty for newly created Services. Additional information on the failure can be found in `terminal_condition` and `conditions`.",
            "readOnly": true
          },
          "etag": {
            "type": "string",
            "description": "Optional. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
          }
        }
      },
      "GoogleCloudRunV2ServiceMesh": {
        "type": "object",
        "description": "Settings for Cloud Service Mesh. For more information see https://cloud.google.com/service-mesh/docs/overview.",
        "properties": {
          "mesh": {
            "type": "string",
            "description": "The Mesh resource name. Format: `projects/{project}/locations/global/meshes/{mesh}`, where `{project}` can be project id or number."
          }
        }
      },
      "GoogleCloudRunV2ServiceScaling": {
        "type": "object",
        "description": "Scaling settings applied at the service level rather than at the revision level.",
        "properties": {
          "minInstanceCount": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. total min instances for the service. This number of instances is divided among all revisions with specified traffic based on the percent of traffic they are receiving."
          },
          "scalingMode": {
            "type": "string",
            "description": "Optional. The scaling mode for the service.",
            "enum": ["SCALING_MODE_UNSPECIFIED", "AUTOMATIC", "MANUAL"]
          },
          "maxInstanceCount": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. total max instances for the service. This number of instances is divided among all revisions with specified traffic based on the percent of traffic they are receiving."
          },
          "manualInstanceCount": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. total instance count for the service in manual scaling mode. This number of instances is divided among all revisions with specified traffic based on the percent of traffic they are receiving."
          }
        }
      },
      "GoogleCloudRunV2SourceCode": {
        "type": "object",
        "description": "Source type for the container.",
        "properties": {
          "cloudStorageSource": {
            "$ref": "#/components/schemas/GoogleCloudRunV2CloudStorageSource"
          },
          "inlinedSource": {
            "$ref": "#/components/schemas/GoogleCloudRunV2InlinedSource"
          }
        }
      },
      "GoogleCloudRunV2SourceFile": {
        "type": "object",
        "description": "Source file.",
        "properties": {
          "filename": {
            "type": "string",
            "description": "Required. Input only. The file name for the source code. e.g., `\"index.js\"` or `\"node_modules/dependency.js\"`. The filename must be less than 255 characters and cannot contain `..`, `./`, `//`, or end with a `/`. Cloud Run will place the files in the container subdirectories, please use relative path to access the file."
          },
          "content": {
            "type": "string",
            "description": "Required. Input only. Represents the exact, literal, and complete source code of the file. Placeholders like `...` or comments such as `# [rest of code]` should NEVER be used as omission. Every character in this field will be built into the final container. Any omission will result in a broken application."
          }
        }
      },
      "GoogleCloudRunV2TCPSocketAction": {
        "type": "object",
        "description": "TCPSocketAction describes an action based on opening a socket",
        "properties": {
          "port": {
            "type": "integer",
            "format": "int32",
            "description": "Optional. Port number to access on the container. Must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort."
          }
        }
      },
      "GoogleCloudRunV2TrafficTarget": {
        "type": "object",
        "description": "Holds a single traffic routing entry for the Service. Allocations can be done to a specific Revision name, or pointing to the latest Ready Revision.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The allocation type for this traffic target.",
            "enum": [
              "TRAFFIC_TARGET_ALLOCATION_TYPE_UNSPECIFIED",
              "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
              "TRAFFIC_TARGET_ALLOCATION_TYPE_REVISION"
            ]
          },
          "revision": {
            "type": "string",
            "description": "Revision to which to send this portion of traffic, if traffic allocation is by revision."
          },
          "percent": {
            "type": "integer",
            "format": "int32",
            "description": "Specifies percent of the traffic to this Revision. This defaults to zero if unspecified."
          },
          "tag": {
            "type": "string",
            "description": "Indicates a string to be part of the URI to exclusively reference this target."
          }
        }
      },
      "GoogleCloudRunV2TrafficTargetStatus": {
        "type": "object",
        "description": "Represents the observed state of a single `TrafficTarget` entry.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The allocation type for this traffic target.",
            "enum": [
              "TRAFFIC_TARGET_ALLOCATION_TYPE_UNSPECIFIED",
              "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
              "TRAFFIC_TARGET_ALLOCATION_TYPE_REVISION"
            ]
          },
          "revision": {
            "type": "string",
            "description": "Revision to which this traffic is sent."
          },
          "percent": {
            "type": "integer",
            "format": "int32",
            "description": "Specifies percent of the traffic to this Revision."
          },
          "tag": {
            "type": "string",
            "description": "Indicates the string used in the URI to exclusively reference this target."
          },
          "uri": {
            "type": "string",
            "description": "Displays the target URI."
          }
        }
      },
      "GoogleCloudRunV2VersionToPath": {
        "type": "object",
        "description": "VersionToPath maps a specific version of a secret to a relative file to mount to, relative to VolumeMount's mount_path.",
        "properties": {
          "path": {
            "type": "string",
            "description": "Required. The relative path of the secret in the container."
          },
          "version": {
            "type": "string",
            "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest value, or an integer or a secret alias for a specific version."
          },
          "mode": {
            "type": "integer",
            "format": "int32",
            "description": "Integer octal mode bits to use on this file, must be a value between 01 and 0777 (octal). If 0 or not set, the Volume's default mode will be used. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set."
          }
        }
      },
      "GoogleCloudRunV2Volume": {
        "type": "object",
        "description": "Volume represents a named volume in a container.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Required. Volume's name."
          },
          "secret": {
            "$ref": "#/components/schemas/GoogleCloudRunV2SecretVolumeSource"
          },
          "cloudSqlInstance": {
            "$ref": "#/components/schemas/GoogleCloudRunV2CloudSqlInstance"
          },
          "emptyDir": {
            "$ref": "#/components/schemas/GoogleCloudRunV2EmptyDirVolumeSource"
          },
          "nfs": {
            "$ref": "#/components/schemas/GoogleCloudRunV2NFSVolumeSource"
          },
          "gcs": {
            "$ref": "#/components/schemas/GoogleCloudRunV2GCSVolumeSource"
          }
        }
      },
      "GoogleCloudRunV2VolumeMount": {
        "type": "object",
        "description": "VolumeMount describes a mounting of a Volume within a container.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Required. This must match the Name of a Volume."
          },
          "mountPath": {
            "type": "string",
            "description": "Required. Path within the container at which the volume should be mounted. Must not contain ':'. For Cloud SQL volumes, it can be left empty, or must otherwise be `/cloudsql`. All instances defined in the Volume will be available as `/cloudsql/[instance]`. For more information on Cloud SQL volumes, visit https://cloud.google.com/sql/docs/mysql/connect-run"
          },
          "subPath": {
            "type": "string",
            "description": "Optional. Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root). This field is currently rejected in Secret volume mounts."
          }
        }
      },
      "GoogleCloudRunV2VpcAccess": {
        "type": "object",
        "description": "VPC Access settings. For more information on sending traffic to a VPC network, visit https://cloud.google.com/run/docs/configuring/connecting-vpc.",
        "properties": {
          "connector": {
            "type": "string",
            "description": "VPC Access connector name. Format: `projects/{project}/locations/{location}/connectors/{connector}`, where `{project}` can be project id or number. For more information on sending traffic to a VPC network via a connector, visit https://cloud.google.com/run/docs/configuring/vpc-connectors."
          },
          "egress": {
            "type": "string",
            "description": "Optional. Traffic VPC egress settings. If not provided, it defaults to PRIVATE_RANGES_ONLY.",
            "enum": [
              "VPC_EGRESS_UNSPECIFIED",
              "ALL_TRAFFIC",
              "PRIVATE_RANGES_ONLY"
            ]
          },
          "networkInterfaces": {
            "type": "array",
            "description": "Optional. Direct VPC egress settings. Currently only single network interface is supported.",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudRunV2NetworkInterface"
            }
          }
        }
      },
      "GoogleIamV1AuditConfig": {
        "type": "object",
        "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
        "properties": {
          "service": {
            "type": "string",
            "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          },
          "auditLogConfigs": {
            "type": "array",
            "description": "The configuration for logging of each type of permission.",
            "items": {
              "$ref": "#/components/schemas/GoogleIamV1AuditLogConfig"
            }
          }
        }
      },
      "GoogleIamV1AuditLogConfig": {
        "type": "object",
        "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
        "properties": {
          "logType": {
            "type": "string",
            "description": "The log type that this config enables.",
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "ADMIN_READ",
              "DATA_WRITE",
              "DATA_READ"
            ]
          },
          "exemptedMembers": {
            "type": "array",
            "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GoogleIamV1Binding": {
        "type": "object",
        "description": "Associates `members`, or principals, with a `role`.",
        "properties": {
          "role": {
            "type": "string",
            "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          },
          "members": {
            "type": "array",
            "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
            "items": {
              "type": "string"
            }
          },
          "condition": {
            "$ref": "#/components/schemas/GoogleTypeExpr"
          }
        }
      },
      "GoogleIamV1Policy": {
        "type": "object",
        "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32",
[...]
