{
  "openapi": "3.0.3",
  "info": {
    "title": "Secret Manager API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://secretmanager.googleapis.com/"
    }
  ],
  "paths": {
    "/v1/{parent}/secrets": {
      "get": {
        "operationId": "secretmanager_projects_secrets_list",
        "description": "Lists Secrets.",
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the project associated with the Secrets, in the format `projects/*` or `projects/*/locations/*`",
            "schema": {
              "type": "string",
              "description": "Required. The resource name of the project associated with the Secrets, in the format `projects/*` or `projects/*/locations/*`",
              "pattern": "^projects/[^/]+$"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Optional. The maximum number of results to be returned in a single page. If set to 0, the server decides the number of results to return. If the number is greater than 25000, it is capped at 25000.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of results to be returned in a single page. If set to 0, the server decides the number of results to return. If the number is greater than 25000, it is capped at 25000."
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "Optional. Pagination token, returned earlier via ListSecretsResponse.next_page_token.",
            "schema": {
              "type": "string",
              "description": "Optional. Pagination token, returned earlier via ListSecretsResponse.next_page_token."
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Optional. Filter string, adhering to the rules in [List-operation filtering](https://cloud.google.com/secret-manager/docs/filtering). List only secrets matching the filter. If filter is empty, all secrets are listed.",
            "schema": {
              "type": "string",
              "description": "Optional. Filter string, adhering to the rules in [List-operation filtering](https://cloud.google.com/secret-manager/docs/filtering). List only secrets matching the filter. If filter is empty, all secrets are listed."
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSecretsResponse"
                }
              }
            },
            "description": "Lists Secrets."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "secretmanager_projects_secrets_create",
        "description": "Creates a new Secret containing no SecretVersions.",
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the project to associate with the Secret, in the format `projects/*` or `projects/*/locations/*`.",
            "schema": {
              "type": "string",
              "description": "Required. The resource name of the project to associate with the Secret, in the format `projects/*` or `projects/*/locations/*`.",
              "pattern": "^projects/[^/]+$"
            }
          },
          {
            "name": "secretId",
            "in": "query",
            "required": false,
            "description": "Required. This must be unique within the project. A secret ID is a string with a maximum length of 255 characters and can contain uppercase and lowercase letters, numerals, and the hyphen (`-`) and underscore (`_`) characters.",
            "schema": {
              "type": "string",
              "description": "Required. This must be unique within the project. A secret ID is a string with a maximum length of 255 characters and can contain uppercase and lowercase letters, numerals, and the hyphen (`-`) and underscore (`_`) characters."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Secret"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Secret"
                }
              }
            },
            "description": "Creates a new Secret containing no SecretVersions."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{parent}:addVersion": {
      "post": {
        "operationId": "secretmanager_projects_secrets_addVersion",
        "description": "Creates a new SecretVersion containing secret data and attaches it to an existing Secret.",
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
            "schema": {
              "type": "string",
              "description": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
              "pattern": "^projects/[^/]+/secrets/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSecretVersionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretVersion"
                }
              }
            },
            "description": "Creates a new SecretVersion containing secret data and attaches it to an existing Secret."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{name}": {
      "delete": {
        "operationId": "secretmanager_projects_secrets_delete",
        "description": "Deletes a Secret.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the Secret to delete in the format `projects/*/secrets/*`.",
            "schema": {
              "type": "string",
              "description": "Required. The resource name of the Secret to delete in the format `projects/*/secrets/*`.",
              "pattern": "^projects/[^/]+/secrets/[^/]+$"
            }
          },
          {
            "name": "etag",
            "in": "query",
            "required": false,
            "description": "Optional. Etag of the Secret. The request succeeds if it matches the etag of the currently stored secret object. If the etag is omitted, the request succeeds.",
            "schema": {
              "type": "string",
              "description": "Optional. Etag of the Secret. The request succeeds if it matches the etag of the currently stored secret object. If the etag is omitted, the request succeeds."
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Deletes a Secret."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{name}:access": {
      "get": {
        "operationId": "secretmanager_projects_secrets_versions_access",
        "description": "Accesses a SecretVersion. This call returns the secret data. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Required. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`. `projects/*/secrets/*/versions/latest` or `projects/*/locations/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
            "schema": {
              "type": "string",
              "description": "Required. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`. `projects/*/secrets/*/versions/latest` or `projects/*/locations/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
              "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessSecretVersionResponse"
                }
              }
            },
            "description": "Accesses a SecretVersion. This call returns the secret data. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion."
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccessSecretVersionResponse": {
        "type": "object",
        "description": "Response message for SecretManagerService.AccessSecretVersion.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`."
          },
          "payload": {
            "$ref": "#/components/schemas/SecretPayload"
          }
        }
      },
      "AddSecretVersionRequest": {
        "type": "object",
        "description": "Request message for SecretManagerService.AddSecretVersion.",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/SecretPayload"
          }
        }
      },
      "Automatic": {
        "type": "object",
        "description": "A replication policy that replicates the Secret payload without any restrictions.",
        "properties": {
          "customerManagedEncryption": {
            "$ref": "#/components/schemas/CustomerManagedEncryption"
          }
        }
      },
      "AutomaticStatus": {
        "type": "object",
        "description": "The replication status of a SecretVersion using automatic replication. Only populated if the parent Secret has an automatic replication policy.",
        "properties": {
          "customerManagedEncryption": {
            "$ref": "#/components/schemas/CustomerManagedEncryptionStatus"
          }
        }
      },
      "CustomerManagedEncryption": {
        "type": "object",
        "description": "Configuration for encrypting secret payloads using customer-managed encryption keys (CMEK).",
        "properties": {
          "kmsKeyName": {
            "type": "string",
            "description": "Required. The resource name of the Cloud KMS CryptoKey used to encrypt secret payloads. For secrets using the UserManaged replication policy type, Cloud KMS CryptoKeys must reside in the same location as the replica location. For secrets using the Automatic replication policy type, Cloud KMS CryptoKeys must reside in `global`. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
          }
        }
      },
      "CustomerManagedEncryptionStatus": {
        "type": "object",
        "description": "Describes the status of customer-managed encryption.",
        "properties": {
          "kmsKeyVersionName": {
            "type": "string",
            "description": "Required. The resource name of the Cloud KMS CryptoKeyVersion used to encrypt the secret payload, in the following format: `projects/*/locations/*/keyRings/*/cryptoKeys/*/versions/*`."
          }
        }
      },
      "Empty": {
        "type": "object",
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "properties": {}
      },
      "ListSecretsResponse": {
        "type": "object",
        "description": "Response message for SecretManagerService.ListSecrets.",
        "properties": {
          "secrets": {
            "type": "array",
            "description": "The list of Secrets sorted in reverse by create_time (newest first).",
            "items": {
              "$ref": "#/components/schemas/Secret"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "A token to retrieve the next page of results. Pass this value in ListSecretsRequest.page_token to retrieve the next page."
          },
          "totalSize": {
            "type": "integer",
            "format": "int32",
            "description": "The total number of Secrets but 0 when the ListSecretsRequest.filter field is set."
          }
        }
      },
      "Replica": {
        "type": "object",
        "description": "Represents a Replica for this Secret.",
        "properties": {
          "location": {
            "type": "string",
            "description": "The canonical IDs of the location to replicate data. For example: `\"us-east1\"`."
          },
          "customerManagedEncryption": {
            "$ref": "#/components/schemas/CustomerManagedEncryption"
          }
        }
      },
      "ReplicaStatus": {
        "type": "object",
        "description": "Describes the status of a user-managed replica for the SecretVersion.",
        "properties": {
          "location": {
            "type": "string",
            "description": "Output only. The canonical ID of the replica location. For example: `\"us-east1\"`.",
            "readOnly": true
          },
          "customerManagedEncryption": {
            "$ref": "#/components/schemas/CustomerManagedEncryptionStatus"
          }
        }
      },
      "Replication": {
        "type": "object",
        "description": "A policy that defines the replication and encryption configuration of data.",
        "properties": {
          "automatic": {
            "$ref": "#/components/schemas/Automatic"
          },
          "userManaged": {
            "$ref": "#/components/schemas/UserManaged"
          }
        }
      },
      "ReplicationStatus": {
        "type": "object",
        "description": "The replication status of a SecretVersion.",
        "properties": {
          "automatic": {
            "$ref": "#/components/schemas/AutomaticStatus"
          },
          "userManaged": {
            "$ref": "#/components/schemas/UserManagedStatus"
          }
        }
      },
      "Rotation": {
        "type": "object",
        "description": "The rotation time and period for a Secret. At next_rotation_time, Secret Manager will send a Pub/Sub notification to the topics configured on the Secret. Secret.topics must be set to configure rotation.",
        "properties": {
          "nextRotationTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Optional. Timestamp in UTC at which the Secret is scheduled to rotate. Cannot be set to less than 300s (5 min) in the future and at most 3153600000s (100 years). next_rotation_time MUST be set if rotation_period is set."
          },
          "rotationPeriod": {
            "type": "string",
            "format": "google-duration",
            "description": "Input only. The Duration between rotation notifications. Must be in seconds and at least 3600s (1h) and at most 3153600000s (100 years). If rotation_period is set, next_rotation_time must be set. next_rotation_time will be advanced by this period when the service automatically sends rotation notifications."
          }
        }
      },
      "Secret": {
        "type": "object",
        "description": "A Secret is a logical secret whose value and versions can be accessed. A Secret is made up of zero or more SecretVersions that represent the secret data.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Output only. The resource name of the Secret in the format `projects/*/secrets/*`.",
            "readOnly": true
          },
          "replication": {
            "$ref": "#/components/schemas/Replication"
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time at which the Secret was created.",
            "readOnly": true
          },
          "labels": {
            "type": "object",
            "description": "The labels assigned to this Secret. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: `\\p{Ll}\\p{Lo}{0,62}` Label values must be between 0 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}` No more than 64 labels can be assigned to a given resource.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "topics": {
            "type": "array",
            "description": "Optional. A list of up to 10 Pub/Sub topics to which messages are published when control plane operations are called on the secret or its versions.",
            "items": {
              "$ref": "#/components/schemas/Topic"
            }
          },
          "expireTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Optional. Timestamp in UTC when the Secret is scheduled to expire. This is always provided on output, regardless of what was sent on input."
          },
          "ttl": {
            "type": "string",
            "format": "google-duration",
            "description": "Input only. The TTL for the Secret."
          },
          "etag": {
            "type": "string",
            "description": "Optional. Etag of the currently stored Secret."
          },
          "rotation": {
            "$ref": "#/components/schemas/Rotation"
          },
          "versionAliases": {
            "type": "object",
            "description": "Optional. Mapping from version alias to version name. A version alias is a string with a maximum length of 63 characters and can contain uppercase and lowercase letters, numerals, and the hyphen (`-`) and underscore ('_') characters. An alias string must start with a letter and cannot be the string 'latest' or 'NEW'. No more than 50 aliases can be assigned to a given secret. Version-Alias pairs will be viewable via GetSecret and modifiable via UpdateSecret. Access by alias is only be supported on GetSecretVersion and AccessSecretVersion.",
            "additionalProperties": {
              "type": "string",
              "format": "int64"
            }
          },
          "annotations": {
            "type": "object",
            "description": "Optional. Custom metadata about the secret. Annotations are distinct from various forms of labels. Annotations exist to allow client tools to store their own state information without requiring a database. Annotation keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, begin and end with an alphanumeric character ([a-z0-9A-Z]), and may have dashes (-), underscores (_), dots (.), and alphanumerics in between these symbols. The total size of annotation keys and values must be less than 16KiB.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "versionDestroyTtl": {
            "type": "string",
            "format": "google-duration",
            "description": "Optional. Secret Version TTL after destruction request This is a part of the Delayed secret version destroy feature. For secret with TTL>0, version destruction doesn't happen immediately on calling destroy instead the version goes to a disabled state and destruction happens after the TTL expires."
          },
          "customerManagedEncryption": {
            "$ref": "#/components/schemas/CustomerManagedEncryption"
          },
          "tags": {
            "type": "object",
            "description": "Optional. Input only. Immutable. Mapping of Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" Tags are used to organize and group resources. Tags can be used to control policy evaluation for the resource.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "SecretPayload": {
        "type": "object",
        "description": "A secret payload resource in the Secret Manager API. This contains the sensitive secret payload that is associated with a SecretVersion.",
        "properties": {
          "data": {
            "type": "string",
            "format": "byte",
            "description": "The secret data. Must be no larger than 64KiB."
          },
          "dataCrc32c": {
            "type": "string",
            "format": "int64",
            "description": "Optional. If specified, SecretManagerService will verify the integrity of the received data on SecretManagerService.AddSecretVersion calls using the crc32c checksum and store it to include in future SecretManagerService.AccessSecretVersion responses. If a checksum is not provided in the SecretManagerService.AddSecretVersion request, the SecretManagerService will generate and store one for you. The CRC32C value is encoded as a Int64 for compatibility, and can be safely downconverted to uint32 in languages that support this type. https://cloud.google.com/apis/design/design_patterns#integer_types"
          }
        }
      },
      "SecretVersion": {
        "type": "object",
        "description": "A secret version resource in the Secret Manager API.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Output only. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*`. SecretVersion IDs in a Secret start at 1 and are incremented for each subsequent version of the secret.",
            "readOnly": true
          },
          "createTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time at which the SecretVersion was created.",
            "readOnly": true
          },
          "destroyTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Output only. The time this SecretVersion was destroyed. Only present if state is DESTROYED.",
            "readOnly": true
          },
          "state": {
            "type": "string",
            "description": "Output only. The current state of the SecretVersion.",
            "enum": ["STATE_UNSPECIFIED", "ENABLED", "DISABLED", "DESTROYED"],
            "readOnly": true
          },
          "replicationStatus": {
            "$ref": "#/components/schemas/ReplicationStatus"
          },
          "etag": {
            "type": "string",
            "description": "Output only. Etag of the currently stored SecretVersion.",
            "readOnly": true
          },
          "clientSpecifiedPayloadChecksum": {
            "type": "boolean",
            "description": "Output only. True if payload checksum specified in SecretPayload object has been received by SecretManagerService on SecretManagerService.AddSecretVersion.",
            "readOnly": true
          },
          "scheduledDestroyTime": {
            "type": "string",
            "format": "google-datetime",
            "description": "Optional. Output only. Scheduled destroy time for secret version. This is a part of the Delayed secret version destroy feature. For a Secret with a valid version destroy TTL, when a secert version is destroyed, version is moved to disabled state and it is scheduled for destruction Version is destroyed only after the scheduled_destroy_time.",
            "readOnly": true
          },
          "customerManagedEncryption": {
            "$ref": "#/components/schemas/CustomerManagedEncryptionStatus"
          }
        }
      },
      "Status": {
        "type": "object",
        "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "The status code, which should be an enum value of google.rpc.Code."
          },
          "message": {
            "type": "string",
            "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          },
          "details": {
            "type": "array",
            "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
            "items": {
              "type": "object",
              "additionalProperties": {
                "description": "Properties of the object. Contains field @type with type URL."
              }
            }
          }
        }
      },
      "Topic": {
        "type": "object",
        "description": "A Pub/Sub topic which Secret Manager will publish to when control plane events occur on this secret.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Identifier. The resource name of the Pub/Sub topic that will be published to, in the following format: `projects/*/topics/*`. For publication to succeed, the Secret Manager service agent must have the `pubsub.topic.publish` permission on the topic. The Pub/Sub Publisher role (`roles/pubsub.publisher`) includes this permission."
          }
        }
      },
      "UserManaged": {
        "type": "object",
        "description": "A replication policy that replicates the Secret payload into the locations specified in Replication.UserManaged.replicas",
        "properties": {
          "replicas": {
            "type": "array",
            "description": "Required. The list of Replicas for this Secret. Cannot be empty.",
            "items": {
              "$ref": "#/components/schemas/Replica"
            }
          }
        }
      },
      "UserManagedStatus": {
        "type": "object",
        "description": "The replication status of a SecretVersion using user-managed replication. Only populated if the parent Secret has a user-managed replication policy.",
        "properties": {
          "replicas": {
            "type": "array",
            "description": "Output only. The list of replica statuses for the SecretVersion.",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/ReplicaStatus"
            }
          }
        }
      }
    }
  }
}
